<html>
<head>
<title>${SITE_NAME}</title>
<meta name="description" content="This will be the most beautiful website you will ever lay your eyes on!">

<meta property="og:title" content="${SITE_NAME}" />
<meta property="og:url" content="http://${SITE_NAME}.inspirho.in/" />
<meta property="og:description" content="This will be the most beautiful website you will ever lay your eyes on!">
<meta property="og:image" content="https://image.flaticon.com/icons/png/512/43/43102.png">

</head>
<body>
<h1>All hail ${SITE_NAME}!</h1>
</body>
</html>

